<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <style>
        *{
            margin: 0;
        }
        table{
            width: 90%;
            margin: 4% auto;
        }
        table,tr,td,th{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
</head>
<body>
    <a href="/add">Add New Product</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <% products.forEach((product)=>{ %>
            <tr>
                <td><%= product.id %></td>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td>
                    <a href="/edit/<%= product.id %>">Edit</a> 
                    <a href="/delete/<%= product.id %>">Delete</a>
                </td>
            </tr>
        <% }); %>
    </table>
</body>
</html>